Hotels.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="unqualified"
>
  <element name="Hotels">
    <complexType>
      <!-- Content model (sequence) must come first -->
      <sequence>
        <element name="Hotel" minOccurs="1">
          <complexType>
            <!-- Content model (sequence) comes before attributes -->
            <sequence>
              <element name="Name" type="string" minOccurs="1" maxOccurs="1"/>
              <element name="Phone" type="string" minOccurs="1"/>
              <element name="Address" minOccurs="1" maxOccurs="1">
                <complexType>
                  <!-- Content model (sequence) comes first here too -->
                  <sequence>
                    <element name="Number" type="integer" minOccurs="1" maxOccurs="1"/>
                    <element name="Street" type="string" minOccurs="1" maxOccurs="1"/>
                    <element name="City" type="string" minOccurs="1" maxOccurs="1"/>
                    <element name="State" type="string" minOccurs="1" maxOccurs="1"/>
                    <element name="Zip" type="integer" minOccurs="1" maxOccurs="1"/>
                  </sequence>
                  <!-- Attribute moved to AFTER the sequence -->
                  <attribute name="NearestAirport" type="string" use="required"/>
                </complexType>
              </element>
            </sequence>
            <!-- Attribute moved to AFTER the sequence -->
            <attribute name="Rating" type="float"/>
          </complexType>
        </element>
      </sequence>
    </complexType>
  </element>
</schema>
