Hotels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="https://canonrouge24.github.io/cse445-assignment4"
        targetNamespace="https://canonrouge24.github.io/cse445-assignment4"
        elementFormDefault="unqualified" attributeFormDefault="unqualified"
>
  <xs:element name="Hotels" type="HotelsType"/>

  <xs:complexType name="HotelsType">
    <xs:sequence>
      <xs:element name="Hotel" type="HotelType" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="HotelType">
    <xs:sequence>
      <xs:element name="Name" type="string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Phone" type="string" minOccurs="1" maxOccurs="unbounded"/>
      <xs:element name="Address" type="AddressType" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>

    <xs:attribute name="Rating" type="xs:float"/>
  </xs:complexType>

  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element name="Number" type="integer" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Street" type="string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="City" type="string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="State" type="string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Zip" type="integer" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>

    <xs:attribute name="NearestAirport" type="string" use="required"/>
  </xs:complexType>

</xs:schema>
